{{ define "main" }}
{{ $headless := .GetPage "./homepage" }}
{{ $sections := $headless.Resources.ByType "page" }}
{{ $sections := cond .Site.BuildDrafts $sections (where $sections "Draft" "==" false) }}
{{ $content := where (where $sections "Params.external" "==" nil) "Params.detailed_page_homepage_content" "ne" false }}
{{ $translations := .Page.AllTranslations }}

<!-- Welcome screen that scrolls out of view -->
{{ if not .Params.header_use_video }}
  {{ with $img := resources.Get .Site.Params.header_image }}
  {{ $image_options := $.Site.Params.image_options | default "webp q90 lanczos photo" -}}
  <style>
  /* Default cover for larger screens, converted to webp */
  {{- with $img.Resize ( printf "%dx%d %s" $img.Width $img.Height $image_options ) -}}
  #site-head.withCenteredImage {
    background-image: url('{{- .RelPermalink -}}');
  }  
  {{- end -}}

  /*
  Lower resolutions, uncropped. Aimed at desktop users.
  We set __both__ max-width and max-height to make sure the image is never upscaled.
  */
  {{ range $width := slice 1920 1600 1366 }}
    {{- with $img.Resize ( printf "%dx %s" $width $image_options ) }}
    @media (max-width: {{- .Width -}}px) and (max-height: {{- .Height -}}px) {
      #site-head.withCenteredImage { background-image: url('{{- .RelPermalink -}}'); }
    }
    {{- end }}
  {{- end }}

  /*
  Lower resolutions, cropped to portrait. Useful for mobile. For "tall" displays (screen ratio < image ratio)
  the "cover" algorithm first resizes the image to match the screen height, then __crops__ it to match the width.
  We mimic this by resizing to height=1024, and then cropping to various widths. We set "max-height" to
  ensure the height is never upscaled, but also max-aspect-ratio to ensure that each image is used in "tall-enough"
  displays, in which our cropping would happen anyways!
  */
  {{- $img_temp := $img.Resize "x1024 q100" -}}/* high quality temporary image, to be cropped later */
  {{ range $width := slice 900 600 360 }}
    {{- with $img_temp.Crop ( printf "%dx1024 center %s" $width $image_options ) }}
    @media (max-height: {{- .Height -}}px) and (max-aspect-ratio: {{ .Width }} / {{ .Height }}) {
      #site-head.withCenteredImage { background-image: url('{{- .RelPermalink -}}'); }
    }
    {{- end }}
  {{- end }}
  </style>
  {{ end }}
<header id="site-head" class="withCenteredImage">
{{ else }}
<header id="site-head">
{{ end }}

    <div class="vertical">


        <div id="site-head-content" class="inner">
          <div id="site-head-content" class="inner">
                  {{ if .Site.Params.title_guard }}<div class="title-and-description-guard">{{ end }}
                    {{ with .Site.Params.header_headline }}<h1 class="blog-title">{{ . | safeHTML }}</h1>{{ end }}
                    {{ with .Site.Params.header_subheadline }}<h2 class="blog-description">{{ . | safeHTML }}</h2>{{ end }}
                  {{ if .Site.Params.title_guard }}</div>{{ end }}
      
                  {{ $navigation_menu_title := .Params.navigation_menu_title }}
                  <a id='header-arrow' href="#{{- anchorize $navigation_menu_title -}}" aria-label="Go to first section"><i class="fa fa-angle-down"></i></a>
              </div>
          </div>
</header>

  <main class="content page-template page-{{ .Slug }}">
    <article class="post page">
      <header class="post-header">
        {{ with .Parent }}
        <a id="back-to-main-page" href="{{ .RelPermalink | relLangURL }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ or .Title .Site.Title }}</a>
        {{ end }}
      </header>
      <h1 class="post-title" id='{{ anchorize $navigation_menu_title }}'>{{ .Title }}</h1>
      <section class="post-content">
        {{ .Content }}
      </section>
      <footer class="post-header">
        {{ with .Parent }}
        <a id="back-to-main-page" href="{{ .RelPermalink | relLangURL }}"><i class="fa fa-chevron-left" aria-hidden="true"></i> {{ or .Title .Site.Title }}</a>
        {{ end }}
      </footer>
    </article>
  </main>
{{ end }}
